* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
#paginator {
	padding: 15px;
}

#paginator .paginator-list {
	display: inline-block;
	border: 1px solid #EEE;
	border-radius: 4px;
}
#paginator span,
#paginator a {
	display: inline-block;
	padding: 8px 16px;
	color: #35A4F7;
	cursor: pointer;
	border-right: 1px solid #EEE;
}
#paginator .paginator-list a:last-child,
#paginator .paginator-list span:last-child {
	border-right: none;
}
#paginator span.active, 
#paginator a.active {
	background: #35A4F7;
	color: #FFF;
}